PORT=5000
MONGODB_URI=mongodb://localhost:27017/cleantrack
JWT_SECRET=cleantrack_jwt_super_secret_key_2026_smart_city_secure
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
AI_SERVICE_URL=http://localhost:8000/api/ai
UPLOAD_DIR=uploads
SLA_TEST_MODE=true
NODE_ENV=development
